<!-- breadcrumb end here -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}



{% block content %}
<div class="topimage">
	<img src="{% static 'images/bck_bg.jpg' %}" class="img-fluid" alt="image" title="image">
</div>

{% if user.id is not None %}
<!-- ad-single start here -->
<div class="commontop">
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="dashboard">
				
					<div class="profile">
						
						<div class="col-sm-3 col-xs-12">
							<!-- <img class="img-fluid" src="{{ request.session.userimage }}" alt="image" title="image"> -->
							{% for ava in userProfile %}
							<img class="img-fluid" src="{{ ava.image.url }}" alt="image" title="image">
							{% endfor %}
						</div>
						<div class="col-sm-9 col-xs-12 padd0">
							<h4>{{user.first_name}} {{user.last_name}}</h4>
							<div class="common">
								<p class="des"><i class="la la-map-marker"></i> {{request.user.username}}</p>
								<p class="des1">Аккаунт был создан: {{user.date_joined}}</p>
							</div>
							<ul class="list-inline">
								<li class="active"><a href="dashboard.html"><img src="{% static 'images/dashboard/grid.png' %}" alt="image" title="image" /><p>Профиль</p></a></li>
								<li ><a href="dashboard_my_ads.html"><img src="{% static 'images/dashboard/card.png' %}" alt="image" title="image" /><p>Мои объявления</p></a></li>
								<li><a href="dashboard_my_searches.html"><img src="{% static 'images/dashboard/search.png' %}" alt="image" title="image" /><p>Мои поиски</p></a></li>
								<li ><a href="dashboard_fav_ads.html"><img src="{% static 'images/dashboard/heart.png' %}" alt="image" title="image" /><p>Избранные объявления</p></a></li>
								<li><a href="dashboard_message.html"><img src="{% static 'images/dashboard/message.png' %}" alt="image" title="image" /><p>Чат</p></a></li>
								<li><a href="{% url 'settings_profile' %}"><img src="{% static 'images/dashboard/setting.png' %}" alt="image" title="image" /><p>Настройки</p></a></li>
							</ul>
						</div>
					</div>
					<div class="inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. </p>
						<p><a href="{% url 'terms_of_use' %}">Get Help </a> -  Ознакомьтесь с нашим разделом справки и часто задаваемыми вопросами, чтобы начать работу с объявлениями.</p>
					</div>
					<ul class="list-inline icons">
						<li>
							<div class="img"><img src="{% static 'images/dashboard/cardboard.png' %}" alt="image" title="image" /></div>
							<p><a href="dashboard_my_ads.html">Мои объявления</a></p></li>
						<li>
							<div class="img"><img src="{% static 'images/dashboard/messages.png' %}" alt="image" title="image" /></div><p><a href="dashboard_message.html">Чат</a></p></li>
						<li><div class="img"><img src="{% static 'images/dashboard/like.png' %}" alt="image" title="image" /></div><p><a href="dashboard_fav_ads.html">Избранные объявления</a></p></li>
						<li><div class="img"><img src="{% static 'images/dashboard/searchs.png' %}" alt="image" title="image" /></div><p><a href="dashboard_my_searches.html">Мои поиски</a></p></li>
						<li><div class="img"><img src="{% static 'images/dashboard/settings.png' %}" alt="image" title="image" /></div><p><a href="dashboard_setting.html">Настройки</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<a href="{% url 'login' %}" class="text-uppercase">У вас нету акаунта зарегеструетесь !</a>
{% endif %}
<!-- ad-single end here -->
{% endblock %}

{% block footer %} 
    {% include 'footer.html' %}
{% endblock %}